{% extends 'classurvey/base.html' %}

{% block content %}

<div class="container-main">
    <div class="card">
        <div class="card-header">
            <h1>Information for annotation process</h1>
        </div>
        <div class="card-body">
            <h4>Instructions:</h4>
            <ul>
                <li>Guidelines for annotation process:</li>
                <ol>
                    <li>Select the most appropriate category for each of the ~100 sounds that you'll be presented one by one.</li>
                    <li>During annotation choose a confidence level and write a comment, if necessary.</li>
                </ol>
                <li>The annotation takes approximately 20-40 minutes. We suggest completing it in a single sitting.</li>
                <li>It is preferable to be located in a <i>quiet</i> environment and use headphones so you can listen to the sounds without interferences.</li>
                <li>To ensure accurate results, please refrain from using the browser's <i>back button</i>.</li>
            </ul>

            <form action="{% url 'classurvey:user_details' %}" method="POST" style="display:block">
                {% csrf_token %}
                <br></br>
                        <!-- <label>
                            <input type="checkbox" name="consent" required>Problematic sound
                        </label> -->                
                <footer>
                    This research is carried out by Universitat Pompeu Fabra. You can contact us at <a href="mailto:panagiota.anastasopoulou@upf.edu">panagiota.anastasopoulou@upf.edu</a>
                    or <a href="mailto:frederic.font@upf.edu">frederic.font@upf.edu</a> for any technical problems or questions you might have.
                </footer>
                
                <div class="center" style="margin-top:30px;margin-bottom:10px">
                    <input type="submit" class="btn btn-dark" value="Go back">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}