{% extends 'classurvey/base.html' %}

{% block content %}

<div class="container-main">
    <div class="card">
        <div class="card-header">
            <h1>Annotator data</h1>
        </div>
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}
                <div class="details center">
                        
                    <div class="error-username">
                        {{ form.user_name.errors }}
                    </div>
                    <div>
                        {{ form.user_name.label }}
                    </div>
                    <div>
                        {{ form.user_name }}
                    </div>
                    
                    <br>
                    Look <a href="{% url 'classurvey:instructions' %}">the instructions</a>
                    <br><br>
                    Revise <a href="{% url 'classurvey:taxonomy' %}"> taxonomy</a>
                    <br><br><br>

                    <div class="center">
                        <input type="submit" class="btn btn-dark" value="Start annotating sounds">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}